<div id="section">
  <router-outlet></router-outlet>
</div>

<div id="home">

  <div class="cont">
    <h1>
      Router Transition Example
    </h1>
    <p>This is a Test of Service Routes Transition for Angular2, made by Ignacio Buioli</p>
    <p>Types of Transition by Default:</p>
    <ul>
      <li><button (click)="rtAni.goFlow('home','section')" routerLink="section">Flow</button></li>
      <li><button (click)="rtAni.goSlide('home','section')" routerLink="section">Slide</button></li>
      <li><button (click)="rtAni.goSlideUp('home','section')" routerLink="section">SlideUp</button></li>
      <li><button (click)="rtAni.goSlideDown('home','section')" routerLink="section">SlideDown</button></li>
      <li><button (click)="rtAni.goSlideFade('home','section')" routerLink="section">SlideFade</button></li>
      <li><button (click)="rtAni.goFade('home','section')" routerLink="section">Fade</button></li>
      <li><button (click)="rtAni.goFlip('home','section')" routerLink="section">Flip</button></li>
      <li><button (click)="rtAni.goTurn('home','section')" routerLink="section">Turn</button></li>
    </ul>
    <p>You can create new Transitions editing the files transition.css and routestransition.service.ts</p>
  </div>

<div>
