<div id="new-section">
  <h2>Section</h2>
  <p>This is a Component in the Proyect and you come here by a Route Transition!</p>
  <p>Come back to Home:</p>
  <ul>
    <li><button (click)="rtAni.backFlow('section','home')" routerLink="section">Flow</button></li>
    <li><button (click)="rtAni.backSlide('section','home')" routerLink="section">Slide</button></li>
    <li><button (click)="rtAni.goSlideUp('section','home')" routerLink="section">SlideUp</button></li>
    <li><button (click)="rtAni.goSlideDown('section','home')" routerLink="section">SlideDown</button></li>
    <li><button (click)="rtAni.backSlideFade('section','home')" routerLink="section">SlideFade</button></li>
    <li><button (click)="rtAni.goFade('section','home')" routerLink="section">Fade</button></li>
    <li><button (click)="rtAni.goFlip('section','home')" routerLink="section">Flip</button></li>
    <li><button (click)="rtAni.goTurn('section','home')" routerLink="section">Turn</button></li>
  </ul>
</div>
