<div id="new-section">
  <h2>Section</h2>
  <p>This is a Component in the Proyect and you come here by a Route Transition!</p>
  <p>Come back to Home:</p>
  <ul>
    <li><button (click)="rtAni.backFlow('section','home')" routerLink="section">Go Flow</button></li>
    <li><button (click)="rtAni.backSlide('section','home')" routerLink="section">Go Slide</button></li>
    <li><button (click)="rtAni.goSlideUp('section','home')" routerLink="section">Go SlideUp</button></li>
    <li><button (click)="rtAni.goSlideDown('section','home')" routerLink="section">Go SlideDown</button></li>
    <li><button (click)="rtAni.backSlideFade('section','home')" routerLink="section">Go SlideFade</button></li>
    <li><button (click)="rtAni.goFade('section','home')" routerLink="section">Go Fade</button></li>
    <li><button (click)="rtAni.goFlip('section','home')" routerLink="section">Go Go Flip</button></li>
    <li><button (click)="rtAni.goTurn('section','home')" routerLink="section">Go Turn</button></li>
    <li><button (click)="rtAni.backPop('section','home')" routerLink="section">Go Pop</button></li>
  </ul>
</div>
